.movDetails{

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 12rem;
  padding: 2rem ;
  width: 100%;

}



.description{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
